NODE_ENV=development

# Service Ports
PORT=3006
GRPC_PORT=50056

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your-database-password
DB_NAME=equipment_db
DB_SYNCHRONIZE=true
DB_LOGGING=true

# RabbitMQ
RABBITMQ_URL=amqp://admin:your-rabbitmq-password@rabbitmq:5672
RABBITMQ_QUEUE=equipment-service
RABBITMQ_EXCHANGE=rental-app.events
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=your-rabbitmq-password
