# Server Configuration
PORT=3002
GRPC_PORT=50052
NODE_ENV=development

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your-database-password
DB_NAME=user_db
DB_SYNCHRONIZE=true
DB_LOGGING=true

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# RabbitMQ Configuration
RABBITMQ_URL=amqp://admin:your-rabbitmq-password@rabbitmq:5672

# Logging
LOG_LEVEL=info
