# Application
NODE_ENV=development
PORT=3003
GRPC_PORT=50053
APP_NAME=Tenant Service
APP_VERSION=1.0.0

# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=tenant_db
DB_USERNAME=postgres
DB_PASSWORD=your-database-password
DB_SYNCHRONIZE=false
DB_LOGGING=true

# RabbitMQ
RABBITMQ_URL=amqp://admin:your-rabbitmq-password@rabbitmq:5672
RABBITMQ_USER=admin
RABBITMQ_PASS=your-rabbitmq-password
RABBITMQ_EXCHANGE=rental-app.events

# gRPC Services
USER_SERVICE_GRPC_URL=rental-user-service:50052
